body{
    margin: auto;
    }

.caj0{
     background-color: rgb(255, 255, 255);
}

.caj1 {
    background-color: rgb(229, 235, 235);
}

.reyn{
    background-color: rgb(247, 209, 209);
    border-radius: 5px;
}


.caj4{
    background-color: rgb(137, 148, 148);
}